* {
    margin: 0 0 0 5px;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}

h3, i{
    font-family: Arial, Helvetica, sans-serif;
}

.head {
    margin: 0px 10px 100px 5px;
    background-color: lightgray;
    
}

.title {
    color: blue;
    font-size: 24px;
    letter-spacing: 1.6em;
    word-spacing: 2em;
    text-align: center;
    font-weight: bold;
}

.subtitle {
    color: darkred;
    font-size: 18px;
    letter-spacing: 1.4rem;
    margin-bottom: 30px;
    margin-top: 30px;
}

.content {
    margin: 10px 0px 10px 0;
}

.chronology tr > th {
    padding-left: 25px;
    padding-top: 10px;
}


.chronology tr th:nth-child(2) {
    padding-left: 50px;
    padding-top: 10px;
    text-align: start;
}