* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 10px;
  font-family: 'M PLUS Rounded 1c', sans-serif;
	color: #eee;
}

body {
	width: 100%;
	height: 100%;
	background: #2D142C;
	background-size: cover;
}

html, body {
	max-width: 100%;
	overflow-x: hidden;
}

a {
    text-decoration:none;
    color: inherit;
}

main{
  position:absolute;
  left:250px;
  text-align: center;
  transition: all 0.4s ease;
}

#button {
  font-size: 30px;
  color: rgba(255,255,255,1);
  position: absolute;
  top:10px;
  left:10px;
  z-index:1;
  transition: all 0.4s ease;
}

.after {
  transform: translateX(450px);
}



/* AFASFASF */


.page {
	width: 100vw;
	min-height: 100vh;
	grid-area: aside;
	display: flex;
}

.nav {
	position: absolute;
	left: 0;
	top: 0;
	width: 300px;
	height: 100%;
	background-color: #EE4540;
	display: flex;
	flex-direction: column;
	justify-content: center;
	box-sizing: border-box;
	color: white;
	transition: all .3s ease;
}

.logo {
	font-size: 50px;
	position: absolute;
	top: 75px;
	left: 50%;
	transform: translateX(-50%);
	cursor: pointer;
	transition: all .3s linear;
}

.item {
	margin: 20px 0 20px 20px;
	display: flex;
	overflow: hidden;
	justify-content: center;
}

.item i {
	font-size: 20px;
}

.item span {
	font-weight: 300;
	margin-left: 10px;
}

.nav.collapsed {
	width: 60px;
}

.nav.collapsed .item {
	margin: 20px auto;
}

.nav.collapsed .item span {
	display: none;
}

.nav.collapsed .logo {
	transform: translateX(-50%) scale(.7);
}
